{%extends 'base.html'%}
{% load static %}

{% block content%}

    {%if user.is_authenticated %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>




    <style>
    img{
        cursor: pointer;
    }

    #clickableAwesomeFont {
        cursor: pointer;
    }

    #to-top {
        cursor: pointer;
        position: fixed;
        right: 2.5%;
        bottom: 2%;


    }



    </style>



<hr/>
                <h1>MY PICS</h1>
<hr/>

<br>

                 <br>
                <span id='clickableAwesomeFont'><i id = 'changing-icon' class="fa-solid fa-circle-down fa-3x" style="color:#ffc008"></i>
                </span><span id='to-top'><i id = 'changing-icon2' class="fa-solid fa-circle-up fa-3x" style="color:#ffc008"></i>
                </span>


                <script>

                    function animate_icon2() {

                          var icon = document.getElementById('changing-icon2');

                          // change to 2
                          setTimeout(function () {
                            //console.log('stage 2');
                            icon.className = "fa-regular fa-circle-up fa-3x";
                          }, 125);

                          //back to 1
                          setTimeout(function () {
                          //console.log('back to 1');
                            icon.className = "fa-solid fa-circle-up fa-3x";
                          }, 250);

                     }

                    document.getElementById('to-top').onclick = function() {
                        animate_icon2();
                        setTimeout(function () {
                            window.scrollTo(0, 0);
                          }, 250);
                    };
</script>





                <br><br><h6><b>ADD PIC</b></h6>





                <script>

                     function animate_icon() {

                          var icon = document.getElementById('changing-icon');

                          // change to 2
                          setTimeout(function () {
                            icon.className = "fa-regular fa-circle-down fa-3x";
                          }, 125);

                          //back to 1
                          setTimeout(function () {
                            icon.className = "fa-solid fa-circle-down fa-3x";
                          }, 250);

                     }

                    document.getElementById('clickableAwesomeFont').onclick = function() {
                        animate_icon();
                        setTimeout(function () {
                            document.getElementById("scroll-location").scrollIntoView();
                          }, 250);
                    };

                </script>


<br>
<br>


<form id ='search-pic' class="d-flex" role="search" method = 'POST'>
            {% csrf_token%}
          <input id ='pic-input' name="pic-input" class="form-control me-2" type="search" placeholder="What pic are you looking for..." aria-label="Search">
        <input type="hidden" name="user-id2" id="user-id2" value="{{current_user}}">
        <input type="submit" class="btn btn-warning" value="Search" name="search-button" id="search-button2">
      </form>

<br><br>


<div id ='main-area2'>
</div>
<br><br>


<script>

                    $(document).on('submit',"form",function(e){

                            var oForm = $(this);
                            //console.log(oForm);
                            var formId = oForm.attr("id");

                            if (formId == 'search-pic') {

                                console.log('search bar pics');

                                e.preventDefault();

                                var inputValue = oForm.find("input#pic-input").val();

                                var secondValue = oForm.find("input#user-id2").val();

                                console.log(`queryis: ${inputValue}`);
                                console.log(`user is: ${secondValue}`);


                                if (!(inputValue)=='') {

                                        console.log('query is not null');


                                        $.ajax({
                                                type:'POST',
                                                url:"{% url 'filter_pics'%}",
                                                data:{

                                                    pic_name:inputValue,
                                                    user_name:secondValue,

                                                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                                                },

                                                success: function(response){

                                                    console.log(response);
                                                    var size = response.filtered_pic_list.length;
                                                    console.log(size);


                                                    //delete all existing content upon search..

                                                   document.getElementById('main-area2').innerHTML = "";


                                                   if (!(size==0)) {

                                                   //gotta create an element with username

                                                   for(let i = 0; i < size; i++){

                                                       let myElm = document.createElement("p");

                                                        myElm.innerHTML = '<b>'+'Title: '+'</b>'+`${response.filtered_pic_list[i][0]}`;

                                                        document.getElementById('main-area2').appendChild(myElm);


                                                   //simple p element for 'description'

                                                        let myElm3 = document.createElement("p");

                                                        myElm3.innerHTML = '<b>'+'Description: '+'</b>'+`${response.filtered_pic_list[i][1]}`;

                                                        document.getElementById('main-area2').appendChild(myElm3);


                                                   //img element



                                                        // need to do an internal check here for mobile or PC

                                                        function detectMob() {
                                                            const toMatch = [
                                                                /Android/i,
                                                                /webOS/i,
                                                                /iPhone/i,
                                                                /iPad/i,
                                                                /iPod/i,
                                                                /BlackBerry/i,
                                                                /Windows Phone/i
                                                            ];

                                                            return toMatch.some((toMatchItem) => {
                                                                return navigator.userAgent.match(toMatchItem);
                                                            });
                                                        }


                                                        if (detectMob()) {

                                                                var to_log_1 = screen.availWidth * 0.95;
                                                                var to_log_2 = to_log_1 * 0.9;


                                                            } else {

                                                                var to_log_1 = (screen.availWidth * 0.5) ;
                                                                var to_log_2 = to_log_1 * 0.9;


                                                        }


                                                        let myElm2 = document.createElement("img");

                                                        myElm2.src = 'https://res.cloudinary.com/dafucmz70/image/upload/v1/media/images/'+`${response.filtered_pic_list[i][2]}`;

                                                        myElm2.width = '100';

                                                        document.getElementById('main-area2').appendChild(myElm2);

                                                        var myModal = null;

                                                        const showModal = () => {

                                                            if(myModal !== null){
                                                                myModal.remove();
                                                            }


                                                            myModal = document.createElement("div");

                                                            myModal.innerHTML = `

                                                            <div class="modal fade" tabindex="-1" role="dialog">
                                                                  <div class="modal-dialog modal-dialog-centered" style="max-width: ${to_log_1}px" role="document">
                                                                    <div class="modal-content">
                                                                      <div class="modal-header">
                                                                        <h6 class="modal-title w-100" id="exampleModalLabel2" style="text-align:center">"${response.filtered_pic_list[i][0]}"</h6>
                                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                                                      </div>
                                                                      <div class="modal-body" style="width: auto; margin-left: auto; margin-right: auto">
                                                                        <img src="https://res.cloudinary.com/dafucmz70/image/upload/v1/media/images/${response.filtered_pic_list[i][2]}" width = "${to_log_2}">

                                                                      </div>
                                                                      <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary modal-success-btn" data-bs-dismiss="modal">Close</button>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                            `

                                                            document.body.append(myModal);

                                                            var modal = new bootstrap.Modal(myModal.querySelector('.modal'));
                                                            modal.show();

                                                        }



                                                        myElm2.addEventListener('click',function(){

                                                          showModal();

                                                        });


                                                   //page divider


                                                        let myElm9 = document.createElement("p");

                                                        myElm9.innerHTML = "<hr/>";

                                                        document.getElementById('main-area2').appendChild(myElm9)



                                                   } //end for loop

                                                   // this is the end of the if for SIZE

                                                   } else {

                                                        let myElm10 = document.createElement("p");

                                                        myElm10.innerText = `Sorry, no results found for '${inputValue}' !`;
                                                        myElm10.style.fontWeight = 'bold';

                                                        document.getElementById('main-area2').appendChild(myElm10)

                                                    }


                                                    // this is the end of the success function






















                                                }
                                            });


                                } else {
                                    console.log('query is null!');
                                    document.getElementById('main-area2').innerHTML = "";

                                }

                                //end of if query is null

                            }
                    });
                </script>





<h3>ALL PICS:</h3>








                <br>

                    {%if show_table %}
                       <br>
                        <br>

                    <table class="table">

                    <thead class="thead-dark">

                    <tr>

                      <th scope="col"></th>


                    </tr>

                  </thead>

                  <tbody>

                      {%for entry in entries%}

                          {%if current_user == entry.author %}

                          <tr>

                              <td style="word-break:break-all;"><b>Title: </b>{{entry.title}}<br><br><b>Description: </b>{{entry.description}}

                              <br><br>


                              <img src="{{entry.picture_image.url}}" data-toggle="modal" data-target="#modalz{{entry.id}}" width="100">



                              <br><br>

                                   <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#{{entry.id}}">
                            Delete Image
                                  </button>
                                  <br><br>


                           <div class="modal fade" id="{{entry.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">WARNING</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                Are you sure you want to delete this image?
                                              </div>
                                                <div class="modal-footer">

                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

                                                  <a  href="{%url 'delete_pic' entry.id%}" class="btn btn-outline-warning">Yes</a>

                                                </div>
                                </div>
                              </div>
                            </div>


                            <div class="modal fade" id="modalz{{entry.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                <div id = 'type{{entry.id}}' class="modal-dialog modal-dialog-centered" style="max-width: 135px" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                                <h6 class="modal-title w-100" id="exampleModalLabel2" style="text-align:center">"{{entry.title}}"</h6>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body" style="width: auto; margin-left: auto; margin-right: auto">
                                                  <img id = "resize{{entry.id}}" src="{{entry.picture_image.url}}" width = "600">

                                              </div>
                                                <div class="modal-footer">

                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                </div>
                                </div>
                              </div>
                            </div>

                           <script>

                                function detectMob() {
                                    const toMatch = [
                                        /Android/i,
                                        /webOS/i,
                                        /iPhone/i,
                                        /iPad/i,
                                        /iPod/i,
                                        /BlackBerry/i,
                                        /Windows Phone/i
                                    ];

                                    return toMatch.some((toMatchItem) => {
                                        return navigator.userAgent.match(toMatchItem);
                                    });
                                }

                                //console.log(detectMob());

                                if (detectMob()) {

                                    var to_log_1 = screen.availWidth * 0.95;

                                    var to_log_2 = to_log_1 * 0.9;

                                    document.getElementById('resize'+{{entry.id}}).width = to_log_2;
                                    document.getElementById('type'+{{entry.id}}).style["max-width"] = `${to_log_1}px`;

                                    //document.getElementById('mobile-checker').innerHTML = 'Mobile';

                                } else {

                                    var to_log_1 = screen.availWidth * 0.5;

                                    var to_log_2 = to_log_1 * 0.9;

                                    console.log('final display image:'+to_log_2);

                                    document.getElementById('resize'+{{entry.id}}).width = to_log_2;
                                    document.getElementById('type'+{{entry.id}}).style["max-width"] = `${to_log_1}px`;

                                    //document.getElementById('mobile-checker').innerHTML = 'PC';

                                    console.log('##########################');


                                }






                            </script>

                          <a  href="{%url 'edit_pic' entry.id%}" class="btn btn-warning">Edit image</a>




                              </td>





                          </tr>

                          {%endif%}

                      {%endfor%}

                  </tbody>
                </table>

                    {%else%}
                    <br>


                    <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">


<div class="col-md-8">
                      <div class="card-body">


                          <p style="font-size:24px;"><h4>You have no saved images!</h4></p>



                      </div>
                    </div>
                  </div>
                </div>






                  {%endif%}


                <br>
                <br><br><br>
<hr/>

                <h1 id="scroll-location">ADD A PIC</h1>
<hr/>
                <br>
                <br>

                <form action="{%url 'add_pics'%}" method="POST" enctype="multipart/form-data">

                    {% csrf_token%}

                    {{form.as_p}}
                    <button id='send-button' type="submit" class="btn btn-warning">Add</button>


                    <br>
                    <br>
                    <br>
                    <br>

                </form>





</script>

{%else%}
    <h2>You must be logged in to view this page.</h2>


{%endif%}


{%endblock%}


