{%extends 'base.html'%}
{% load static %}

{% block content%}
{%if user.is_authenticated%}



<style>

    img{
        cursor: pointer;
    }

    #video-1 {
       color:black;
    }

    #video-1:hover {
       color: #ffc008;
    }


    #news-1 {
       color: black;

    }

    #news-1:hover {
       color: #ffc008;
    }

</style>

<div id="mobile-checker"></div>

<hr/>
<h1>HOMEPAGE</h1>
<hr/>

<br><br>

    <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">

                      <div class="col-md-4">
                       {%if user.profile.profile_pic%}
                          <img src="{{user.profile.profile_pic.url}}" class="img-fluid rounded-start" data-toggle="modal" data-target="#modalz{{user.profile.id}}">
                        {%else%}
                          <img src="{% static 'default_profile.png' %}" class="img-fluid rounded-start" alt="...">
                          {% endif %}

                    </div>


                      <div class="modal fade" id="modalz{{user.profile.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                <div id = 'modal-box' class="modal-dialog modal-dialog-centered" style="max-width: 135px" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                                <h6 class="modal-title w-100" id="exampleModalLabel2" style="text-align:center">{{user.first_name}} {{user.last_name}}</h6>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body" style="width: auto; margin-left: auto; margin-right: auto">
                                                  {%if user.profile.profile_pic%}
                                                  <img id='profile-pic' src="{{user.profile.profile_pic.url}}" width = "400">
                                                  {%endif%}
                                              </div>
                                                <div class="modal-footer">

                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                </div>
                                </div>
                              </div>
                            </div>



                      <script>

                        function detectMob() {
                            const toMatch = [
                                /Android/i,
                                /webOS/i,
                                /iPhone/i,
                                /iPad/i,
                                /iPod/i,
                                /BlackBerry/i,
                                /Windows Phone/i
                            ];

                            return toMatch.some((toMatchItem) => {
                                return navigator.userAgent.match(toMatchItem);
                            });
                        }

                        if (detectMob()) {

                            var to_log_1 = screen.availWidth * 0.95;
                            var to_log_2 = to_log_1 * 0.9;

                            document.getElementById('profile-pic').width = to_log_2;
                            document.getElementById('modal-box').style["max-width"] = `${to_log_1}px`;

                            //document.getElementById('mobile-checker').innerHTML = 'Mobile';

                        } else {

                            //console.log('{{user.profile.profile_pic}}');

                            // if the user has chosen a profile pic

                            if (!('{{user.profile.profile_pic}}' == '')) {

                                //console.log('there is an actual pic');

                                var to_log_1 = (screen.availWidth * 0.5) ;

                                var actual_width = document.getElementById('profile-pic').naturalWidth;

                                if (actual_width > (to_log_1 * 0.9)) {

                                    var to_log_2 = to_log_1 * 0.9;
                                    //console.log(to_log_2);

                                } else {
                                    var to_log_2 = actual_width;
                                    //console.log(to_log_2);
                                }

                                document.getElementById('profile-pic').width = to_log_2;
                                document.getElementById('modal-box').style["max-width"] = `${to_log_1}px`;

                            }
                            // else they have the standard question mark profile pic...

                            //document.getElementById('mobile-checker').innerHTML = 'PC';


                        }
                    </script>


                    <div class="col-md-8">
                      <div class="card-body">

                        <p style="font-size:18px;" class="card-title">{{user.username}}</p>
                          <p style="font-size:24px;" class="card-text">{{user.first_name}}  {{user.last_name}}</p>
                        <p style="font-size:16px;" class="card-text"><small class="text-muted">


                            {%if user.profile.youtube_url%}
                                <a href="{{user.profile.youtube_url}}" style="color:black"><span><i class="fa-brands fa-youtube" style="color:#ffc008"></i></span><i>&nbspYoutube |</i></a>
                            {%endif%}
                            {%if user.profile.telegram_url%}
                                <a href="{{user.profile.telegram_url}}" style="color:black"><span><i class="fa-brands fa-telegram" style="color:#ffc008"></i></span><i>&nbspTelegram |</i></a>
                            {%endif%}
                            {%if user.profile.vk_url%}
                                <a href="{{user.profile.vk_url}}" style="color:black"><span><i class="fa-brands fa-vk" style="color:#ffc008"></i></span><i>&nbspVK</i></a>
                            {%endif%}
                        </small></p>

                           {%if user.profile.bio%}
                                <p style="font-size:14px;" class="card-text">{{user.profile.bio}}</p>
                          {%else%}
                            No Bio!
                          {%endif%}

                          <br>
                          {%if user.email%}
                          <br>
                          <p style="font-size:14px;" ><b>Email:</b> {{user.email}}</p>
                            {%endif%}
                      </div>
                    </div>
                  </div>
                </div>

    <br><br>

<hr/>

<h5>TRENDING MUSIC VIDEOS:</h5>


<br><br>
<div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">

<div class="col-md-8">


                      <div class="card-body">



                          <br>
    <h5>TOP IN RUSSIA:</h5>
<br>
    <iframe id ='youtube-video' width="505" height="315" src="https://www.youtube.com/embed/Cf2ASJCa_Iw"></iframe>
<br>


        <br>















                            <br>
    <h5>TOP 5 IN ENGLISH:</h5>
<br>

                          <br>


                          <ol type="1">

        {%for entry in top_videos%}
        <li><a id = "video-1" href="{{entry.1}}">{{entry.0}}</a></li>
                              <br>
    {%endfor%}
    </ol>

                          <br>

                      </div>
                    </div>
                  </div>
                </div>

    <br>
    <br>

    {%endif%}

<script>

    function detectMob() {
        const toMatch = [
            /Android/i,
            /webOS/i,
            /iPhone/i,
            /iPad/i,
            /iPod/i,
            /BlackBerry/i,
            /Windows Phone/i
        ];

        return toMatch.some((toMatchItem) => {
            return navigator.userAgent.match(toMatchItem);
        });
    }

    //console.log(detectMob());

    if (detectMob()) {

        var to_log_1 = screen.availWidth * 0.835;
        document.getElementById('youtube-video').width = to_log_1;
        document.getElementById('profile-pic').width = to_log_1;
        document.getElementById('modal-box').className = 'modal-dialog modal-sm';
        //document.getElementById('mobile-checker').innerHTML = 'Mobile';

    } else {

        var to_log_1 = '505';
        document.getElementById('youtube-video').width = to_log_1;
        document.getElementById('modal-box').className = 'modal-dialog modal-lg';


        if (!('{{user.profile.profile_pic}}' == '')) {
            document.getElementById('profile-pic').width = to_log_1;

        }


    }
</script>

<hr/>

<h5>LATEST NEWS STORIES:</h5>
<br><br>


<div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">

<div class="col-md-8">
                      <div class="card-body">

                          <br>
    <h5>TOP 5:</h5>
<br>


                          <ol>

    {%for entry in top_stories%}
        <li><a id ="news-1" href="{{entry.1}}">{{entry.0}}</a></li>
                              <br>
    {%endfor%}

    </ol>

                          <br>

                      </div>
                    </div>
                  </div>
                </div>

    <br>
    <br>





{%endblock%}