{%extends 'base.html'%}
{% load static %}

{% block content%}

{%if user.is_authenticated%}

<hr/>
<h1>MY REQUESTS</h1>
<hr/>

    {%if accepted_list%}

    <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">



                      <div class="card-body">


                          <p style="font-size:24px;" class="card-text"><h2 style="font-size:24px;">THE FOLLOWING USERS <font style="color:#ffc008"><b>ACCEPTED</b></font> THE FRIEND REQUEST YOU SENT THEM:</h2></p>


                      </div>

                  </div>
                </div>


    <table class="table">

        <thead class="thead-dark">
        <tr>
          <th scope="col">Profile Pic</th>
            <th scope="col">Username</th>

        </tr>
      </thead>


    <tbody>

          {%for entry in list_2%}

              <tr>

                  <td>

                      {%if entry.profile_pic%}

                      <a href ="{% url 'my_profile' entry.member.id%}"><img src="{{entry.profile_pic.url}}" width = 100></a>

                      {%else%}

                      <a href ="{% url 'my_profile' entry.member.id%}"><img src="{% static 'default_profile.png' %}" class="img-fluid rounded-start" width = 100></a>

                      {%endif%}


                  </td>



                  <td>{{entry.member.username}}</td>

              </tr>

          {%endfor%}

      </tbody>

    </table>


    {%endif%}

    {%if declined_list%}

<div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">



                      <div class="card-body">


                          <p style="font-size:24px;" class="card-text"><h2 style="font-size:24px;">THE FOLLOWING USERS <font style="color:#ffc008"><b>DECLINED</b></font> THE FRIEND REQUEST YOU SENT THEM:</h2></p>


                      </div>

                  </div>
                </div>




    <table class="table">

        <thead class="thead-dark">
        <tr>
          <th scope="col">Profile Pic</th>
            <th scope="col">Username</th>

        </tr>
      </thead>


    <tbody>

          {%for entry in list_4%}

              <tr>
                  <td>





                  {%if entry.profile_pic%}

                      <a href ="{% url 'my_profile' entry.member.id%}"><img src="{{entry.profile_pic.url}}" width = 100></a>

                      {%else%}

                      <a href ="{% url 'my_profile' entry.member.id%}"><img src="{% static 'default_profile.png' %}" class="img-fluid rounded-start" width = 100></a>

                      {%endif%}





                  </td>
                  <td>{{entry.member.username}}</td>

              </tr>

          {%endfor%}

      </tbody>

    </table>

    {%endif%}

<br><br>

{%if show%}



<div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">



                      <div class="card-body">


                          <p style="font-size:24px;" class="card-text"><h2 style="font-size:24px;">PLEASE ACCEPT OR DECLINE:</h2></p>






                      </div>

                  </div>
                </div>





                        <table class="table">

                                        <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">Profile Pic</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Options</th>

                                        </tr>
                                      </thead>

                                      <tbody>

                                          {%for entry in final_list%}

                                              <tr>

                                                  <td>

                                                      {%if entry.profile_pic%}

                      <a href ="{% url 'my_profile' entry.member.id%}"><img src="{{entry.profile_pic.url}}" width = 100></a>

                      {%else%}

                     <a href ="{% url 'my_profile' entry.member.id%}"><img src="{% static 'default_profile.png' %}" class="img-fluid rounded-start" width = 100></a>

                      {%endif%}


                                                  </td>

                                                  <td>{{entry.member.username}}</td>
                                                  <td>

                                                      <a  href="{% url 'accept' entry.id url_id %}" class="btn btn-warning">Accept</a>

                                                      <br><br>

                                                      <a  href="{%url 'decline' entry.id url_id %}" class="btn btn-warning">Decline</a>

                                                  </td>

                                              </tr>


                                          {%endfor%}

                                      </tbody>
                                    </table>


{%else%}

<div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">



                      <div class="card-body">


                          <p style="font-size:24px;" class="card-text"><h2 style="font-size:24px;">No requests from other users for you to accept or decline.</h2></p>






                      </div>

                  </div>
                </div>


{%endif%}






    <br>
        <br>


    {%if show_2%}



<div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">



                      <div class="card-body">


                          <p style="font-size:24px;" class="card-text"><h2 style="font-size:24px;">WAITING ON (FRIEND REQUESTS):</h2></p>






                      </div>

                  </div>
                </div>















    <table class="table">

        <thead class="thead-dark">
        <tr>
          <th scope="col">Profile Pic</th>
            <th scope="col">Username</th>

        </tr>
      </thead>

      <tbody>

          {%for entry in list_3%}

              <tr>
                  <td>



                      {%if entry.profile_pic%}

                      <a href ="{% url 'my_profile' entry.member.id%}"><img src="{{entry.profile_pic.url}}" width = 100></a>

                      {%else%}

                      <a href ="{% url 'my_profile' entry.member.id%}"><img src="{% static 'default_profile.png' %}" class="img-fluid rounded-start" width = 100></a>

                      {%endif%}



                  </td>
                  <td>{{entry.member.username}}</td>

              </tr>

          {%endfor%}

      </tbody>
    </table>

    {%else%}


<div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">



                      <div class="card-body">


                          <p style="font-size:24px;" class="card-text"><h2 style="font-size:24px;">You are not waiting for anyone to accept requests you have sent to them.</h2></p>






                      </div>

                  </div>
                </div>



    <br>
<br>


    {%endif%}

    <br>
    <br>
    <br>


{%else%}
<h2>You must be logged in to view this page.</h2>




{%endif%}

{%endblock%}