{%extends 'base.html'%}
{% load static %}
{% block content%}

{%if user.is_authenticated %}

<hr/>
<h1>MATCHING USERS FOR - '{{query}}'</h1>
<hr/>







<br><br>


{% if show %}

<table class="table">

                    <thead class="thead-dark">
                    <tr>
                      <th scope="col">Profile Pic</th>
                        <th scope="col">User Name and Full Name</th>

                        <th scope="col">Options</th>

                    </tr>
                  </thead>

                  <tbody>

                      {%for profile in final_list%}

                          <tr>
                              <td>

                                  {%if profile.profile_pic%}
                                  <img src="{{profile.profile_pic.url}}" width = 100>
                                  {%else%}
                                  <img src="{% static 'default_profile.png' %}" class="img-fluid rounded-start" width = 100>
                                  {%endif%}


                              </td>
                              <td style="word-break:break-word;"><i>"{{profile.member.username}}"</i><br><br>
                                  <b>{{profile.member.first_name}} {{profile.member.last_name}}</b></td>


                              <td style="word-break:break-word;">

                                  <a  href="{% url 'my_profile' profile.member.id%}" class="btn btn-primary
                              btn-sm">View Profile Page</a>

                                  <br><br>

                                  {%if profile.id in list_people_who_already_sent_you_requests%}

                                    <h6>This person has already sent you a request!</h6>
                                  <br><br>

                                    <a  href="{% url 'accept' profile.id url_id%}" class="btn btn-success
                                        btn-sm">Accept</a>
                                  <br><br>

                                  <a  href="{%url 'decline' profile.id url_id%}" class="btn btn-danger
                                        btn-sm">Decline</a>

                                  {%elif profile.id  in current_friends%}

                                     <h6>Already your friend!</h6>

                                  {%elif profile.id not in list_requests_sent%}

                                  <a  href="{%url 'send_request' profile.id url_id_b%}" class="btn btn-dark
                                        btn-sm">Send Friend Request</a>

                                  {%else%}

                                      <h6>Friend Request Sent!</h6>

                                  {%endif%}

                              </td>

                          </tr>


                      {%endfor%}

                  </tbody>
                </table>

{%else%}

<h2>No Users matching '{{query}}' were found!</h2>

{%endif%}













{%else%}
    <h2>You must be logged in to view this page.</h2>
{%endif%}



{%endblock%}